---
title: Home
name: home
class: page-content
---

{% assign empresa = site.data.empresa %}

<div class="home-title">

    <img src="{{ site.baseurl }}/img/{{ empresa.logo.url }}" alt="{{ empresa.logo.alt }}">

    <p>{{ empresa.endereco }}</p>

    <p>{% for tel in empresa.telefones %}<a href="tel:{{ tel.number }}">{{ tel.label }}</a>{% if forloop.last == false %}<br>{% endif %}{% endfor %}</p>

    <p><a href="tel:{{ empresa.whatsapp.number }}" data-btn><span class="colored-icon">{% include svg/whatsapp.svg %}</span> {{ empresa.whatsapp.label }}</a></p>

</div>