{% assign empresa = site.data.empresa %}
{% assign facebook = empresa.facebook %}

<footer class="site-footer">

  <div data-grid="center spacing" class="wrapper">

    <div data-cell="1of3" class="page-excerpt">
      <h2 class="page-title">{{ site.title }}</h2>
      <p><a href="{{ facebook.url }}" target="_blank">{{ facebook.label }}</a></p>
      <p>{{ site.description }}</p>
    </div>
    <form method="post" action="http://email.jorginhoshair.com.br/enviar_email.php" data-cell="1of3 fill" class="page-excerpt" id="contato">
      <div data-grid="center start row wrap spacing">
        <h2>Contato</h2>
        <p data-cell="shrink"><a href="tel:{{ empresa.whatsapp.number }}" data-btn><span class="colored-icon">{% include svg/whatsapp.svg %}</span> {{ empresa.whatsapp.label }}</a></p>
      </div>
      <div data-grid="spacing">
        <p>
          <label for="nome">Nome *</label>
          <input type="text" name="nome" placeholder="Digite seu nome" required>
        </p>
        <p>
          <label for="telefone">Telefone *</label>
          <input type="tel" name="telefone" placeholder="DDD + Seu número" required>
        </p>
      </div>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="nome@dominio.com.br">
      </p>
      <p>
        <label for="mensagem">Mensagem</label>
        <textarea name="mensagem" cols="30" rows="4" placeholder="Digite sua mensagem"></textarea>
      </p>
      <p><small>* Preenchimento necessário</small></p>
      <p class="honeypot">
        <label for="honey">Se estiver vendo isto, deixe este campo em branco:</label>
        <input type="text" name="honey">
      </p>
      <p><button>Enviar</button></p>
    </form>

  </div>

</footer>
