<footer class="site-footer">

  <div data-grid="center spacing" class="wrapper">

    <div data-cell="1of3" class="page-excerpt">
      <h2 class="page-title">{{ site.title }}</h2>
      <p><a href="https://www.facebook.com/Jorjinhos-Hair-Style-326210300742861/" target="_blank">Fan page Jorginho's Hair Style</a></p>
      <p>{{ site.description }}</p>
    </div>
    <form method="post" action="" data-cell="1of3" class="page-excerpt">
      <h2>Contato</h2>
      <div data-grid="spacing">
        <p>
          <label for="nome">Nome *</label>
          <input type="text" name="nome" placeholder="Digite seu nome" required>
        </p>
        <p>
          <label for="tel">Telefone *</label>
          <input type="tel" name="tel" placeholder="DDD + Seu número" required>
        </p>
      </div>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="nome@dominio.com.br">
      </p>
      <p>
        <label for="mensagem">Mensagem</label>
        <textarea name="mensagem" cols="30" rows="4" placeholder="Digite sua mensagem"></textarea>
      </p>
      <p><small>* Preenchimento necessário</small></p>
      <p><button>Enviar</button></p>
    </form>

  </div>

</footer>

<script src="{{ '/js/scroll.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>