%negativo
    background-color: $grey-color-dark
    color: #fff
    a
        color: $brand-color

.site-header
    @extend %negativo
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 999
    padding: 5px 0

.site-title
    margin: 0
    float: left
    +media-greater($on-palm)
        img
            width: 170px

.site-nav
    float: right
    line-height: 56px
    font:
        family: $base-title-family
        size: $small-font-size
    text-transform: uppercase
    .menu-icon
        display: none
    .page-link
        color: inherit
        line-height: $base-line-height
        margin-left: 20px
    +media-query($on-laptop)
        position: absolute
        top: 2px
        right: 2px
        text-align: right
        .menu-icon
            display: block
            float: right
            width: 56px
            height: 56px
            text-align: center
            > svg
                width: 21px
                height: 55px
                path
                    fill: #fff
        .trigger
            clear: both
            display: none
        &:hover .trigger
            display: block
            width: 100%
            padding-bottom: 5px
            background-color: $background-color
            box-shadow: (-3px) 3px 10px 0 $grey-color
        .page-link
            display: block
            padding: 15px
            color: $text-color

.site-footer
    @extend %negativo
    padding: $spacing-unit 0

.page-content
    padding: $spacing-unit 0

.page-title
    font:
        family: $page-title-family
        size: 40px

.page-excerpt
    padding: $spacing-unit / 2
    +media-greater($on-palm)
        padding: $spacing-unit * 2
        >
            h1, h2, h3, h4, h5, h6, p, ul, ol, article, .wrapper
                max-width: 42em
                margin-left: auto
                margin-right: auto

.section-home
    padding-top: $spacing-unit * 3
    background:
        image: url("https://c1.staticflickr.com/5/4162/34443046450_f5bfa9dcf3_o.jpg")
        repeat: no-repeat
        position: top
        size: cover
    .home-title
        width: $on-laptop
        max-width: 70%
        margin: 150px auto
        padding: 50px 0
        text-align: center
        background-color: rgba($grey-color-dark, 0.7)
        color: #fff

.section-salao
    background-color: $grey-color-light
    .salao-figure
        +bg-img("https://c1.staticflickr.com/9/8286/29343041290_6e5c3e9ce6_o.jpg")
    .page-excerpt
        +media-query($on-palm)
            padding-left: 0
            padding-right: 0

.section-servicos
    .servicos-figure
        +bg-img("https://c1.staticflickr.com/9/8023/29343041450_b5ff4af0c2_o.jpg")
    .servicos-item
        margin-bottom: $spacing-unit
        +media-greater($on-laptop)
            display: inline-block
            vertical-align: top
            width: 45%
            &:nth-child(even)
                margin-right: 9%
        .servicos-pic
            margin-right: 10px
        .servicos-title
            margin-top: 0
            line-height: 1
            font-size: 20px

.section-profissionais
    background-color: $grey-color-light
    .page-title, .pro-pic
        text-align: center
    .pro-pic
        +media-greater($on-palm)
            max-width: 300px
    .pro-name
        font-weight: bold
        font-size: $base-font-size
    .pro-position
        text-transform: uppercase

.section-noivas
    @extend %negativo
    .noivas-gallery
        position: relative
        height: 450px
        overflow: hidden
        +media-query($on-palm)
            padding: 0 $spacing-unit / 2
            height: 300px

        .slider-item
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 100%
            opacity: 0
            transform: translate(0)
            transition: .3s ease-in-out
            display: none
            img
                display: block
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                margin: auto
                +media-query($on-palm)
                    max-height: 300px
            &.slider-current
                display: block
                z-index: 9
                opacity: 1
                transition-delay: .1s
            &.slider-prev
                display: block
                transform: translate(-50%)
            &.slider-next
                display: block
                transform: translate(50%)
        .slider-controls
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 100%
            height: 100%
            z-index: 99
            .control
                position: absolute
                top: 0
                bottom: 0
                line-height: 420px
                +media-query($on-palm)
                    line-height: 270px
                &.prev
                    right: auto
                    left: $spacing-unit
                    +media-query($on-palm)
                        left: 0
                &.next
                    left: auto
                    right: $spacing-unit
                    +media-query($on-palm)
                        right: 0
                &.icon
                    svg
                        width: 60px
                        height: auto
                        // +media-query($on-palm)
                        //     width: 

.section-localizacao
    //